.container{
    margin: 0 15px;
}

.form{
    width: 100%;
    display: flex;
    gap: 25px;
}

.form input{
    width: 100%;
    height: 44px;
    border: 0;
    padding: 0 8px;
    border-radius: 4px;
    outline: none;
}

.form button{
    background: transparent;
}