.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding-top: 20px;
}

.container img{
    overflow: hidden;
}

@media screen and (max-width:768px) {

    .container img{
        max-width: 300px;
    }
    
}