@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  font-family: "Rubik", sans-serif;
    background: radial-gradient(circle at top, rgba(0, 242, 255, 0.08), transparent 50%),
    radial-gradient(circle at bottom, rgba(212, 175, 55, 0.08), transparent 50%),
    var(--primary-bg);
}